<%= render "layouts/user_nav" %>

<div class="container" style="padding-top: 64px; text-align:center;">

  <h2 class="font-weight-bold p-3"><%= t('sign_up') %></h2>

  <div class="card card-body col-lg-6 m-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%#= render "devise/shared/error_messages", resource: resource %>
      <%#= f.label t('devise.pre_cpf')%>
      <div class="form-group">
        <%= f.label t('devise.user_name') %><br>
        <%= f.text_field :user_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label t('devise.email') %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label t('devise.password.normal') %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        <% if @minimum_password_length %>
          <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.submit t('sign_up'), class: 'btn btn-primary w-100' %>
      </div>
    <% end %>
  </div>

  <br>

  <%= render "devise/shared/links" %>

  <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center">Copyright &copy; CavernaLabs 2020</p>
    </div>
  </footer>

</div>
