<%= simple_form_for @assembly, url: url, method: method  do |p| %>
  <%= p.input :title %>
  <%= p.input :start_time %>
  <%= p.input :finish_time %>
  <%= p.file_field :ata, accept:"application/pdf, application/vnd.ms-excel" %><br />
  <%#= p.input :ata, as: :file, accept:"application/pdf, application/vnd.ms-excel" %>
  <%# if controller.action_name == 'edit' %>
  <% if p.object.ata.present? %>
    <%= p.object.ata.blob.filename.sanitized %>
    <%= p.check_box :checkbox_checked %>
    <span class="small_label">Remover ata</span>
  <% end %>
  <%= p.rich_text_area :description %>
  
  
  <%= p.submit controller.action_name == 'edit' ? 'Atualizar Assembléia' : 'Criar Assembléia' %>
<% end %>