<p id="notice"><%= notice %></p>

<h1>Assemblies</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Start time</th>
      <th>Finish time</th>
      <th>State</th>
      <!-- <th>Descrição</th> -->
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @assemblies.each do |assembly| %>
      <tr>
        <td><%= assembly.id %></td>
        <td><%= assembly.title %></td>
        <td><%= assembly.start_time %></td>
        <td><%= assembly.finish_time %></td>
        <td><%= assembly.state %></td>
        <!-- <td><%= assembly.description %></td> -->
        <td>
          <%if assembly.state == 'open'%>
            <%= link_to 'Bloquear', set_not_state_path(assembly), method: :patch %>
          <%else%>  
            <%= link_to 'Liberar', set_state_path(assembly), method: :patch %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_admin_assembly_path(assembly) %></td>
        <td><%= link_to 'Destroy', admin_assembly_path(assembly), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assembly', new_admin_assembly_path %>
