<% flash.each do |key, value| %>
  <div id="notice" class="alert <%= flash_class(key) %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= value %>
  </div>
<% end %>

<h1>
  <%= Assembly.model_name.human(count: Assembly.all.to_a.length())%>
  <%= link_to 'Novo(a)', new_admin_assembly_path, class:"btn btn-primary new" %>
</h1>

<hr>

<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th><%= Assembly.human_attribute_name(:title) %></th>
      <th><%= Assembly.human_attribute_name(:start_time) %></th>
      <th><%= Assembly.human_attribute_name(:finish_time) %></th>
      <th><%= Assembly.human_attribute_name(:status) %></th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @assemblies.each do |assembly| %>
      <tr>
        <td><%= assembly.id %></td>
        <td><%= assembly.title %></td>
        <td><%= l(assembly.start_time, format: '%d/%m/%Y - %H:%M') %></td>
        <td><%= l(assembly.finish_time, format: '%d/%m/%Y - %H:%M') %></td>

        <td>
          <% if assembly.state == 'open' %>
            <span class="badge badge-success">Ativa</span>
          <% elsif assembly.state == 'close' %>
            <span class="badge badge-danger">Finalizado</span>
          <% else %>
            <span class="badge badge-warning">Rascunho</span>
          <% end %>
        </td>

        <td>
          <%if assembly.state == 'open'%>
            <%= link_to 'Fechar', set_not_state_path(assembly), method: :patch, class:"btn btn-outline-danger" %>
          <%else%>  
            <%= link_to 'Abrir', set_state_path(assembly), method: :patch, class:"btn btn-outline-success" %>
          <% end %>
          <%= link_to 'Editar', edit_admin_assembly_path(assembly), class:"btn btn-primary" %>
          <%= link_to 'Deletar', admin_assembly_path(assembly), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
