<% flash.each do |key, value| %>
  <div id="notice" class="alert <%= flash_class(key) %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= value %>
  </div>
<% end %>

<h1>
  <%= Assembly.model_name.human %>
  <%= link_to t('links.delete'), admin_assembly_path(@assembly), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger new" %>
  <%= link_to t('links.edit'), edit_admin_assembly_path(@assembly), class:"btn btn-primary new" %>
  <%= link_to t('links.back'), admin_assemblies_path, class:"btn btn-secondary new" %>
  <%= link_to t('links.new'), new_admin_assembly_path, class:"btn btn-info new" %>
</h1>

<hr>

<p>
  <strong>Título:</strong>
  <%= @assembly.title %>
</p>

<p>
  <strong>Início:</strong>
  <%= l(@assembly.start_time, format: '%d/%m/%Y - %H:%M') %>
</p>

<p>
  <strong>Encerramento:</strong>
  <%= l(@assembly.finish_time, format: '%d/%m/%Y - %H:%M') %>
</p>

<p>
  <strong>Situação:</strong>
  <% if @assembly.state == 'open' %>
    <span class="badge badge-success">Ativa</span>
  <% elsif @assembly.state == 'close' %>
    <span class="badge badge-danger">Finalizado</span>
  <% else %>
    <span class="badge badge-warning">Rascunho</span>
  <% end %>
</p>

<p>
  <strong>Ata:</strong>
  <% if @assembly.ata.present? %>
    <%= link_to @assembly.ata.blob.filename.sanitized, rails_blob_path(@assembly.ata, disposition: 'attachment') %>
    <%#= @assembly.ata.blob.filename.sanitized %>
  <% else %>
    Sem ata
  <% end %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @assembly.description %>
</p>
