<div class="container">
  <%= simple_form_for @pre_registration, url: url, method: method  do |p| %>
  <div class='row col-md-6'>
    <%= p.input :cpf %>
    </div>
    <div class='row '>
      <div class='col-md-3'>
        <%= p.input :bloc, as: :select, collection: PreRegistration::BLOCK, include_blank: 'Selecione um Bloco...' %>
      </div>
      <div class='col-md-3'>
        <%= p.input :ap, as: :select, collection: PreRegistration::AP, include_blank: 'Selecione um Apartamento...' %>
      </div>
    </div>
    <div>
      <%= p.submit controller.action_name == 'edit' ? 'Atualizar Pré-Registro' : 'Criar Pré-Registro', class:'btn btn-success' %>
      <%= link_to 'Back', admin_pre_registrations_path, class:'btn btn-danger' %>
    </div>
  <% end %>
</div>