<p id="notice"><%= notice %></p>

<h1>Pre Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Bloc</th>
      <th>Ap</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_registrations.each do |pre_registration| %>
      <tr>
        <td><%= pre_registration.cpf %></td>
        <td><%= pre_registration.bloc %></td>
        <td><%= pre_registration.ap %></td>
        <td><%= link_to 'Show', admin_pre_registration_path(pre_registration)%></td>
        <td><%= link_to 'Edit', edit_admin_pre_registration_path(pre_registration) %></td>
        <td><%= link_to 'Destroy','' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre Registration', new_admin_pre_registration_path %>
