<div class="container">

<% flash.each do |key, value| %>
  <div id="notice" class="alert <%= flash_class(key) %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= value %>
  </div>
<% end %>

<h1>
  Pre Registrations
  <%= link_to 'Novo(a)', new_admin_pre_registration_path, class:"btn btn-primary new" %>
</h1>

<hr>

<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Cpf</th>
      <th>Bloc</th>
      <th>Ap</th>
      <th>Criado em</th>
      <th colspan="2">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @pre_registrations.each do |pre_registration| %>
      <tr>
        <td><%= pre_registration.id %></td>
        <td><%= pre_registration.cpf %></td>
        <td><%= pre_registration.bloc %></td>
        <td><%= pre_registration.ap %></td>
        <td><%= pre_registration.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_admin_pre_registration_path(pre_registration), class:"btn btn-primary" %>
          <%= link_to 'Destroy', admin_pre_registration_path(pre_registration), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

