<p>
  <strong>Cpf:</strong>
  <%= @pre_registration.cpf %>
</p>

<p>
  <strong>Bloc:</strong>
  <%= @pre_registration.bloc %>
</p>

<p>
  <strong>Ap:</strong>
  <%= @pre_registration.ap %>
</p>

<%= link_to 'Edit', edit_admin_pre_registration_path %> |
<%= link_to 'Back', admin_pre_registrations_path %>
