<%= render "layouts/user_nav" %>

<div class="container text-center devise-container">
  
  <h2 class="font-weight-bold p-3"><%= t('.forgot_your_password') %></h2>

  <div class="card card-body col-lg-6 m-auto">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%#= f.error_notification %>

      <div class="form-group">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-group">
        <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary w-100' %>
      </div>
    <% end %>
  </div>

  <br>

  <%= render "devise/shared/links" %>

  <%= render "layouts/footer" %>

</div>
