<% topic.reload %>
<div class="card">
  <div class="card-header">
    <div class="row text-center align-items-center">
      <div class="col">
        <h5>#<%= topic.title %></h5>
      </div>

      <%= button_to t('vote_history'), history_votes_path(topic.id), class: "btn btn-outline-info
          btn-sm button-history-votes", data: { toggle: "modal", target: "#myModal" }, method: :get, remote: true %>

    </div>
  </div>

  <div class="card-body text-center">
    <h4>
      <strong><%= topic.sum_votes %></strong>
      <span class="text-secondary">
        / <%= @max_votes %> <%= Vote.model_name.human(count: 2) %>
      </span>
    </h4>

    <p>
      <%= topic.description %>
    </p>

    <!-- A FAZER
    <% if @assembly.start_time <= Time.now && @assembly.finish_time >= Time.now &&
      (current_user.votes.pluck(:option_id) & topic.options.pluck(:id)).empty? && current_user.paid == true %>
      <% if @assembly.state == 'close' %>
        render 'assemblies/result_votes', topic: topic
      <% else %>
        render 'assemblies/options_vote', topic: topic
      <% end %>
    <% else %>
      render 'assemblies/result_votes', topic: topic
    <% end %>
    -->

    <!-- COLINHA
    <% topic.options.each do |option| %>
      <hr>
      <div class="row">
        <div class="col">
          <%= option.description %>
        </div>
        <div class="col">
          <% if topic.user_voted(current_user.id) %>
            <span class="badge badge-pill badge-warning p-2">
              <%= "#{((option.votes.length.to_f/topic.sum_votes.to_f)*100).round(2)}%" %>
            </span>
            <span class="badge badge-pill badge-primary p-2">
              <%= option.votes.length %> <%= Vote.model_name.human(count: 2) %>
            </span>
          <% else %>
            <%= link_to 'Votar', do_a_vote_path(option), method: :patch, class:"badge badge-pill badge-success p-2" %>
          <% end %>
        </div>
      </div>
    <% end %>
    -->
  </div>
</div>
