<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assembly.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @assembly.start_time %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @assembly.finish_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assembly.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assembly.status %>
</p>

<p>
  <strong>Topics count:</strong>
  <%= @assembly.topics_count %>
</p>

<p>
  <strong>Url ata:</strong>
  <%= @assembly.url_ata %>
</p>

<%= link_to 'Edit', edit_assembly_path(@assembly) %> |
<%= link_to 'Back', assemblies_path %>
