<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: #004466">
  <div class="container">
    <a class="navbar-brand" href="#"><%= Assembly.model_name.human %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= 'active' if controller_name == "home" %>">
          <%= link_to t('links.home'), home_index_path, class:'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if controller_name == "assemblies" %>">
          <%= link_to Assembly.model_name.human(count: 2), assemblies_path, class:'nav-link' %>
        </li>
        <% if user_signed_in? %>
          <% if current_user.role == 'admin' %>
            <li class="nav-item <%# 'active' if controller_name == "assemblies" %>">
              <%= link_to t('Admin'), admin_assemblies_path, class:'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item <%# 'active' if controller_name == "assemblies" %>">
            <span style="color:white; margin-left:100px;"><%= t('hello') + ', ' + current_user.user_name %></span>
            <span style="margin-left:20px"><%= link_to t('logout'), destroy_user_session_path, method: :delete, class:'btn btn-danger' %></span>
          </li>
        <% else %>
          <li class="nav-item <%# 'active' if controller_name == "assemblies" %>">
            <span style="margin-left:30px;"><%= link_to t('login'), new_user_session_path, class:'btn btn-success' %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
