<!DOCTYPE html>
<html>
  <head>
    <title>Assembleia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/user_nav" %>
    <%= yield %>
  </body>
</html>
